:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.listaSinPuntos {
  list-style-type: none;
  padding-left: 0;
}

.galeriaGatos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 10px;
}

.galeriaGatos ul {  
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;

  width: 100%;                 /* <-- permite que el grid se haga más pequeño */
  max-width: 620px;            /* 3 columnas máx */
  margin: 0 auto;              /* centrar */
}

.galeriaGatos li {
  width: 200px;
}

.galeriaGatos img {
  width: 200px;
  height: 200px;        /* fuerza la altura */
  object-fit: cover;    /* recorta sin deformar */
  border-radius: 8px;   /* opcional */
}

#loadingData, #error{   
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 2rem;
}

#heartDiv {
  cursor: pointer;
  display: inline-block;
}
/* Contenedor de cada imagen favorita */
.favorito-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- CENTRA EL BOTÓN */
}

/* Aseguramos imagen correcta */
.favorito-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-eliminar {
  background-color: white;
  margin-top: 5px;
}
